/* Kriszta */

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	background-color:#b5e7a0;
}
#myMenu{
    width: 100%;
    height: 130px;
    z-index: 999; 
    background-color: #b5e7a0;

}
.myWrapper{
    max-width: 660px;
    margin: 0 auto;
}


.text{
	float:left;
	text-align:center;
	padding:20px;
	margin-top:10%;
	width:500px;
	color:#111;
	background:transparent;
	background-color:rgba(255,255,255,.2);
	
}
.accordion{
    width:80%;
    margin:0 auto;
}

/* accordion heading */
.accordion h1{
    font-size:20px;
    font-weight: normal;
    text-align: center;
    margin-bottom:0px;
    margin-top:0px;
	background:transparent;
    background-color:rgba(255,255,255,.2);
    padding-top:7px;padding-bottom:7px;
    border:1px solid darkgrey;
    border-radius:3px;
}
.accordion h1:hover{
    cursor:pointer;
}

/* accordion section content */
.accordion div{
    display:none;
    padding:10px;
    height:350px;
    line-height:20px;
    border:1px solid gray;
    border-radius:3px;
}

@media screen and (max-width:480px){
    .accordion{
        width:100%;
        margin:0;
    }
}

.im{
	width:450px;
	height:400px;
}

.text1{
	float:left;
	text-align:center;
	padding:20px;
	width:500px;
	color:#111;
	background:transparent;
	background-color:rgba(255,255,255,.2);
}
.info{
	margin-top:5%;
	margin-bottom:5%;
	font-size:20px;
    font-weight: normal;
	text-align:center;
	background-color:#ff8080;
	font-family: georgian;
	
}

/* Laurina */

.button {
	display: inline-block;
	padding: 25px 30px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #27a92c;
	border: none;
	border-radius: 30px;
	box-shadow: 0 9px #388842;
}

.button:hover {
	background-color: #3e8e41;
	box-shadow: 0 5px #1b3910;
}

.button:active {
	background-color: #3e8e41;
	box-shadow: 0 9px #1b3910;
	transform: translateY(4px);
}

/* used the below to overwrite bootstrap built in formatting so that the text could be seen */
/* needed two per image as the <h5> didnt seem to react to id put in <div> under the image think I could cut down the code a bit from here though */
/* when I created div for all of them it put the images on a black background */
#info0 {
	font-size: x-large;
	background-color: black;
	border-radius: 25px;
	padding: 20px;
}

#info1 {
	font-size: x-large;
	background-color: black;
	border-radius: 25px;
	padding: 20px;
}

#info2 {
	font-size: x-large;
	background-color: black;
	border-radius: 25px;
	padding: 20px;
}

#info3 {
	font-size: x-large;
	background-color: black;
	border-radius: 25px;
	padding: 20px;
}
#info4 {
	font-size: x-large;
	background-color: black;
	border-radius: 25px;
	padding: 20px;
}

#info5 {
	font-size: x-large;
	background-color: black;
	border-radius: 25px;
	padding: 20px;
}

#info6 {
	font-size: x-large;
	background-color: black;
	border-radius: 25px;
	padding: 20px;
}

#info7 {
	font-size: x-large;
	background-color: black;
	border-radius: 25px;
	padding: 20px;
}

#info8 {
	font-size: x-large;
	background-color: black;
	border-radius: 25px;
	padding: 20px;
}

#info9 {
	font-size: x-large;
	background-color: black;
	border-radius: 25px;
	padding: 20px;
}
b{
	font-size: x-large;
}

#middle{
	text-align: center;
}

#middle2{
	text-align: center;
}

/* For jQuery to show and hide - edited span and created id's to change how buttons look */
span {
    padding: 3px;
    float: center;
}
 
#hider{
	background-color: #27a92c;
	border-radius: 25px;
	color: #fff;
	padding: 4px;
}

#shower{
	background-color: #27a92c;
	border-radius: 25px;
	color: #fff;
	padding: 4px;
}
 
