.button {
	display: inline-block;
	padding: 25px 30px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #27a92c;
	border: none;
	border-radius: 30px;
	box-shadow: 0 9px #388842;
}

.button:hover {
	background-color: #3e8e41;
	box-shadow: 0 5px #1b3910;
}

.button:active {
	background-color: #3e8e41;
	box-shadow: 0 9px #1b3910;
	transform: translateY(4px);
}
#info {
	font-size: x-large;
	color: white;
	font-weight: 700;
	background-color: black;
	border-radius: 25px;
	padding: 20px;
}